@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root {
    --Bright-orange: hsl(31, 77%, 52%);
    --Dark-cyan: hsl(184, 100%, 22%);
    --Very-dark-cyan: hsl(179, 100%, 13%);

    /* Neutral */

    --Transparent-white: hsla(0, 0%, 100%, 0.75);
    --Very-light-gray: hsl(0, 0%, 95%);

}

/* .attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
} */

body {
    background-color: var(--Very-light-gray);
    min-height: 100vh;
    display: flex;
    align-items: center;
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-radius: 12px;
    margin: 2rem;
    overflow: hidden;
}

.box1 {
    background-color: var(--Bright-orange);
}

.box2 {
    background-color: var(--Dark-cyan);
}

.box3 {
    background-color: var(--Very-dark-cyan)
}

.box {
    padding: 40px;
}

.box h2 {
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
    color: var(--Very-light-gray);
    font-size: 30px;
}

.box p {
    color: var(--Transparent-white);
    line-height: 1.6;
}

.box a {
    text-decoration: none;
    background-color: var(--Very-light-gray);
    padding: 13px 27px;
    border-radius: 26px;
    margin-top: 60px;
    display: inline-block;
    border: 2px solid var(--Very-light-gray);
    transition: all .4s ease-in-out;
}

.box1 a {
    color: var(--Bright-orange);
}

.box2 a {
    color: var(--Dark-cyan);
}

.box3 A {
    color: var(--Very-dark-cyan);
}

.box a:hover {
    color: var(--Very-light-gray);
    background: transparent;
}

/* .attribution {
    
    position: absolute;
    bottom: 10px;
    padding: 20px;
    left: 50%;
    transform: translateX(-50%);
} */


@media (max-width: 780px) {
    .wrapper {
        grid-template-columns: 1fr;
    }
}